{% extends 'base.html.twig' %}

{% block title %}Create a new Record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>All tracks:</h1>
    {{ dump() }}
    <ul>
        {% for track in tracks %}
            <div class="song-list" {{ stimulus_controller('song-controls') }}>
                <li {{ stimulus_controller('song-controls', {infoUrl: path('api_songs_get_one', { id: loop.index })}) }}>
                    <a href="#" {{ stimulus_action('song-controls', 'play') }} style="color: #fff">
                        {{ track.title }} - {{ track.singer|upper }}
                    </a>
                </li>
            </div>
        {% endfor %}
    </ul>

    <a href="{{ path('browse', {slug: 'hey-you'}) }}">hey-you</a>
    <a href="{{ path('browse', {slug: 'water-melon'}) }}">water-melon</a>
    <a href="{{ path('browse', {slug: 'ice-cream'}) }}">ice-cream</a>
    <a href="{{ path('browse') }}">nothing</a>

{% endblock %}
